body{
    background: #6c5ce7;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.night-mode {
    background-color: #2c3e50;
    color: white;
}

.navbar {
    border-radius: 50px;
    background-color: #212121;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #6c5ce7;
    }
    
    .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .nav-links li {
    margin-right: 20px;
    }
    
    .nav-links a {
    color: #fff;
    text-decoration: none;
    }

    .nav-links a:hover{
        color: #6c5ce7;
        font-size: 25px;
        text-decoration: dotted;
    }
    
    .content-box{
        max-height:1000px;
        min-width: 200px;
        background: #030303;
        border-radius: 5px;
    }

    /* .content-box p{
        font-size: 15px;
        color: #6c5ce7;
        font-family: monospace;
        font-weight: 200;
    } */
    /* toogle button for text change */
   #text {
    color:#6c5ce7;
    font-size: 15px;
    font-weight: 200;
    font-family: monospace;
    transition: color 0.3s;
}

   button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

   button:hover {
    background-color: #2980b9;
}

    /* toogle button css here */
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #2980b9;
    }
    footer{
        margin-left:25%;
        width: 50%;
        background: #212121;
        color: white;
        border-radius: 50px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        font-family: monospace;
    }

    footer:hover{
        color: #6c5ce7;
    }